In [13]:
import tensorflow as tf
from tensorflow import keras
import cv2
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Import the CSV's and Images

In [27]:
csv_path = "../data/raw/archive/dataset/"
df = pd.concat([pd.read_csv(csv_path + f, delimiter=',') for f in os.listdir(csv_path) if f.endswith('.csv')], ignore_index=True)
df.to_csv('../data/raw/archive/dataset/merged_info.csv', index=False)

In [18]:
print("Rows and columns of the DataFrame" , df.shape)

Rows and columns of the DataFrame (17491, 8)

In [19]:
if df.isnull().values.any():
    print("There are null values in DF")
else:
    print("No null values in DF.")

No null values in DF.

In [20]:
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,000106393cfe2343888c584e65fd2274,3520,2514,F16,1,1,1796,1451
1,00032844ab679240fc03ecd27d29a6aa,1136,852,F18,38,8,1136,654
2,0003f56298fa8999168d7988a2e9549d,4046,2697,F22,213,505,3550,1623
3,0003f56298fa8999168d7988a2e9549d,4046,2697,F22,460,563,4046,1817
4,000aa01b25574f28b654718db0700f72,2048,1365,F35,852,177,1998,503

In [25]:
df["class"].value_counts() #See where can we reduce a bit our dataset

F16           1042
F18           1038
F15           1028
F35            867
C130           735
V22            684
A10            546
US2            541
F22            517
B1             508
C2             501
F4             481
EF2000         445
J20            439
JAS39          423
F14            421
B52            419
Rafale         415
C17            409
B2             400
AV8B           350
Tornado        345
E2             342
Mirage2000     337
C5             312
A400M          299
Vulcan         295
Su57           285
F117           284
Mig31          283
RQ4            263
Su34           253
MQ9            251
Tu160          237
SR71           235
U2             233
Be200          228
Tu95           221
AG600          181
XB70           147
YF23           129
E7              72
P3              50
Name: class, dtype: int64

In [ ]:
#REMOVE THE CLASSES WE DON'T WANT (OR KEEP THE ONES WE WANT)

In [16]:
img_path = "../data/raw/archive/dataset/"
images = []
for f in os.listdir(img_path):
    if f.endswith('.jpg'):
        img = cv2.imread(img_path + f)

KeyboardInterrupt: